/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
}
button {
  background-color: #aa0000;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 1s;
  font-size: 1.1rem;
  cursor: pointer;
}
button:hover {
  background-color: grey;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 1s;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  color: darkslategrey;
}
h3 {
  font-size: 1.3rem;
  font-weight: 700;
  color: gold;
}
h4 {
  font-size: 1.3rem;
}
p {
  font-size: 1rem;
}
hr {
  width: 100%;
  background-color: black;
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  padding: 0px 25px;
}
@media (min-width: 768px) {
  header {
    justify-content: flex-end;
  }
}
@media (min-width: 950px) {
  header {
    justify-content: flex-end;
  }
}
header nav {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
@media (min-width: 768px) {
  header nav {
    width: 40%;
  }
}
@media (min-width: 950px) {
  header nav {
    width: 40%;
  }
}
.container {
  width: 95%;
  height: 100%;
}
@media (min-width: 950px) {
  .container {
    width: 950px;
    height: 100%;
  }
}
#contact {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: lightcoral;
}
#contact #contact-form {
  height: 250px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
footer {
  height: 100px;
  width: 100%;
  color: white;
  background-color: darkslategrey;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero {
  width: 100%;
  height: 700px;
  display: flex;
  flex-flow: column;
  background-color: lightgrey;
  padding: 40px 20px;
  justify-content: space-around;
}
.hero .hero-img {
  width: 100%;
  height: 350px;
  background-image: url('https://bit.ly/2Hlosrs');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.section-one {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .section-one {
    width: 100%;
    display: flex;
    align-content: space-between;
    justify-content: space-between;
  }
}
.section-one .section-one-content {
  display: flex;
  flex-flow: column;
  align-items: space-around;
  width: 100%;
  margin: 30px 0px;
}
.section-one .section-one-content p {
  margin: 10px 0px;
}
@media (min-width: 768px) {
  .section-one .section-one-content {
    display: flex;
    flex-flow: column;
    width: 48%;
    margin: 30px 0px;
  }
}
.section-one .section-one-content h2 {
  margin: 10px 0px;
}
.section-one h2 {
  margin: 10px 0px;
}
.section-one table {
  margin: 15px 0px;
  width: 100%;
  border: 0.5px solid grey;
}
.section-one th,
.section-one td {
  padding: 15px 10px;
  border: 0.5px solid grey;
}
.section-two {
  display: flex;
  flex-flow: column;
  width: 100%;
}
.section-two table {
  margin: 15px 0px;
  width: 100%;
  border-top: 0.5px solid grey;
}
.section-two table tr:nth-child(even) {
  background-color: #dddddd;
}
.section-two th {
  text-align: left;
  padding: 15px 10px;
  font-weight: bolder;
}
.section-two td {
  text-align: left;
  padding: 15px 10px;
}
