@import "mixins/reset.less";
@import "mixins/helper-classes.less";
@import "mixins/main-components.less";

// Hero
.hero {
	width: 100%;
	height: 700px;
	display: flex;
	flex-flow: column;
	background-color:lightgrey;
	padding: 40px 20px;
	justify-content: space-around;

	.hero-img{
		width: 100%;
		height: 350px;
		background-image: url('https://bit.ly/2Hlosrs');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
	}
}
// End Hero

//Section-One
.section-one{
	display: flex;
	flex-flow: row wrap;
	width: 100%;
	justify-content: space-between;

	@media(min-width: 768px) {
			width: 100%;
			display: flex;
			align-content: space-between;
			justify-content: space-between;
		}

	.section-one-content{
		display: flex;
		flex-flow: column;
		align-items: space-around;
		width: 100%;
		margin: 30px 0px;
		
		p {
			margin: 10px 0px;
		}

		@media(min-width: 768px) {
			display: flex;
			flex-flow: column;
			width: 48%;
			margin: 30px 0px;
		}

		h2 {
			margin: 10px 0px;
		}
	}



		h2 {
			margin: 10px 0px;
		}

	table {
		margin: 15px 0px;
		width: 100%;
		border: .5px solid grey;
	}

	th, td {
		padding: 15px 10px;;
		border: .5px solid grey;
	}
}

//End Section One

//Section Two
.section-two {
	display: flex;
	flex-flow: column;
	width: 100%;

	table {
		margin: 15px 0px;
		width: 100%;
		border-top: .5px solid grey;
		
		tr:nth-child(even) {
			background-color: #dddddd;
		}
	
	}
	th {
		text-align: left;
		padding: 15px 10px;
		font-weight: bolder;
	}
	
	td {
		text-align: left;
		padding: 15px 10px;
	}

	
}

//End Section Two











